.carrossel{
   margin-top: 56px;
}

.imagem-carrossel{
   height: 60vh;
   object-fit: cover;
   object-position: 0 80%;
   filter: brightness(0.7) saturate(1.2)
}
.carousel-caption,
h3{
   font-family: 'Pacifico', cursive;
}

h3{
   color: darkred;
   
}

.cor-especial{
   background-color: darkred;
   color: white;
   border: none;
}

.card-imagem{
   object-fit: cover;
   height: 200px;
}

.card{
   max-width: 18rem;
   border: 1px solid darkred;
}